In [2]:
import pandas as pd

In [ ]:
t = pd.read_csv("https://data.cityofnewyork.us/api/views/ic3t-wcy2/rows.csv").head()

In [ ]:
pd.read_csv("https://data.cityofnewyork.us/api/views/ic3t-wcy2/rows.csv").head(2)

In [ ]:
t.to_csv("test_Export.csv")

In [ ]:
t.to_csv("test_Export.csv",index=False)

In [4]:
crime_india = pd.read_csv("https://data.gov.in/node/4223881/datastore/export/csv")

In [6]:
crime_india.to_csv("crime_india.csv",index=False,encoding="UTF8")

In [7]:
pd.read_excel("Data - Multiple Worksheets.xlsx")

  First Name Last Name           City Gender
0    Brandon     James          Miami      M
1       Sean   Hawkins         Denver      M
2       Judy       Day    Los Angeles      F
3     Ashley      Ruiz  San Francisco      F
4  Stephanie     Gomez       Portland      F

In [8]:
pd.read_excel("Data - Multiple Worksheets.xlsx", sheetname=1)

  First Name Last Name           City Gender
0     Parker     Power        Raleigh      F
1    Preston  Prescott   Philadelphia      F
2    Ronaldo   Donaldo         Bangor      M
3      Megan   Stiller  San Francisco      M
4     Bustin    Jieber         Austin      F

In [9]:
pd.read_excel("Data - Multiple Worksheets.xlsx", sheetname=[0,1])

OrderedDict([(0,   First Name Last Name           City Gender
              0    Brandon     James          Miami      M
              1       Sean   Hawkins         Denver      M
              2       Judy       Day    Los Angeles      F
              3     Ashley      Ruiz  San Francisco      F
              4  Stephanie     Gomez       Portland      F),
             (1,   First Name Last Name           City Gender
              0     Parker     Power        Raleigh      F
              1    Preston  Prescott   Philadelphia      F
              2    Ronaldo   Donaldo         Bangor      M
              3      Megan   Stiller  San Francisco      M
              4     Bustin    Jieber         Austin      F)])

In [15]:
state = crime_india["State/UT (Col.3)"]

In [17]:
excel_file = pd.ExcelWriter("State Name.xlsx")

In [18]:
state.to_excel(excel_file,index=False)

In [19]:
excel_file.save()