Create series in python

In [2]:
import pandas as pd
ice_cream = ['vanilla','chocolate','mousse','rocky road']

In [3]:
pd.Series(ice_cream)

0       vanilla
1    chohcolate
2        mousse
3        banana
dtype: object

In [5]:
lottery = [1,2,8,4,5,22,8,9]
pd.Series(lottery)

0     1
1     2
2     8
3     4
4     5
5    22
6     8
7     9
dtype: int64

In [6]:
registration = [True, False, False, True, True, True]
pd.Series(registration)

0     True
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [7]:
merriam = {"Work":"Office","Play":"Stadium","Study":"Class"}
pd.Series(merriam)

Play     Stadium
Study      Class
Work      Office
dtype: object

In [8]:
## Intro to Attributes

In [9]:
about_me = ["Yo","Yep","thats","awesomwe"]
s = pd.Series(about_me)
s

0          Yo
1         Yep
2       thats
3    awesomwe
dtype: object

In [10]:
s.values

array(['Yo', 'Yep', 'thats', 'awesomwe'], dtype=object)

In [11]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [12]:
s.dtype

dtype('O')

In [13]:
prices = [1.44,6.8,9.65]
s = pd.Series(prices)
s

0    1.44
1    6.80
2    9.65
dtype: float64

In [15]:
s.sum()

17.89

In [16]:
s.mean()

5.963333333333334