In [1]:
import pandas as pd

In [24]:
literacy = pd.read_csv("population_literacyrate.csv", parse_dates=False, index_col="Census Year")
literacy

,Population (in Lakhs),Percentage of Literacy Total,Percentage of Literacy Male,Percentage of Literacy Female
Census Year,,,,
1951,301.2,20.80,31.70,10.10
1961,336.9,36.39,51.59,21.06
1971,412.0,45.40,59.54,30.92
1981,484.1,54.39,68.05,40.43
1991,558.6,62.66,73.75,51.33
2001,624.1,73.47,82.33,64.55
2011,721.4,80.09,86.77,73.44

In [6]:
literacy["Population (in Lakhs)"]

Census Year
1951    301.2
1961    336.9
1971    412.0
1981    484.1
1991    558.6
2001    624.1
2011    721.4
Name: Population (in Lakhs), dtype: float64

In [24]:
literacy["Percentage of Literacy Total"] = literacy["Percentage of Literacy Total"].astype(float)
literacy['Population (in Lakhs)'] = literacy['Population (in Lakhs)'].astype(float)

In [14]:
literacy

,Population (in Lakhs),Percentage of Literacy Total,Percentage of Literacy Male,Percentage of Literacy Female,Literacy Total,Literacy Male,Literacy Female
Census Year,,,,,,,
1951,301.2,20.80,31.70,10.10,62.64,95.48,30.42
1961,336.9,36.39,51.59,21.06,122.59,173.80,70.95
1971,412.0,45.40,59.54,30.92,187.05,245.30,127.39
1981,484.1,54.39,68.05,40.43,263.30,329.63,195.72
1991,558.6,62.66,73.75,51.33,350.01,411.96,286.72
2001,624.1,73.47,82.33,64.55,458.52,513.82,402.86
2011,721.4,80.09,86.77,73.44,577.77,625.96,529.80

In [25]:
import numpy as np
literacy["Literacy Total"] = np.multiply(literacy['Population (in Lakhs)']/100, literacy["Percentage of Literacy Total"])
literacy["Literacy Male"] = np.multiply(literacy['Population (in Lakhs)']/100, literacy["Percentage of Literacy Male"])
literacy["Literacy Female"] = np.multiply(literacy['Population (in Lakhs)']/100, literacy["Percentage of Literacy Female"])

In [26]:
literacy

,Population (in Lakhs),Percentage of Literacy Total,Percentage of Literacy Male,Percentage of Literacy Female,Literacy Total,Literacy Male,Literacy Female
Census Year,,,,,,,
1951,301.2,20.80,31.70,10.10,62.64960,95.48040,30.42120
1961,336.9,36.39,51.59,21.06,122.59791,173.80671,70.95114
1971,412.0,45.40,59.54,30.92,187.04800,245.30480,127.39040
1981,484.1,54.39,68.05,40.43,263.30199,329.43005,195.72163
1991,558.6,62.66,73.75,51.33,350.01876,411.96750,286.72938
2001,624.1,73.47,82.33,64.55,458.52627,513.82153,402.85655
2011,721.4,80.09,86.77,73.44,577.76926,625.95878,529.79616

In [18]:
def compute_percentage(x,y):
      pct = float(x/y) * 100
      return round(pct,2)

In [23]:
literacy['Percentage of Literacy Total'].apply(lambda x: compute_percentage
                                               (literacy['Population (in Lakhs)']
                                                literacy["Percentage of Literacy Total"]=1))

SyntaxError: invalid syntax (<ipython-input-23-552022d48395>, line 3)

In [26]:
literacy

,Population (in Lakhs),Percentage of Literacy Total,Percentage of Literacy Male,Percentage of Literacy Female
Census Year,,,,
1951,301.2,20.80,31.70,10.10
1961,336.9,36.39,51.59,21.06
1971,412.0,45.40,59.54,30.92
1981,484.1,54.39,68.05,40.43
1991,558.6,62.66,73.75,51.33
2001,624.1,73.47,82.33,64.55
2011,721.4,80.09,86.77,73.44

SyntaxError: EOL while scanning string literal (<ipython-input-23-94297a1503fb>, line 1)

In [32]:
literacy["Percentage of Literacy Total"].apply(compute_percentage)

Census Year
1951    10.40
1961    18.20
1971    22.70
1981    27.20
1991    31.33
2001    36.73
2011    40.05
Name: Percentage of Literacy Total, dtype: float64

In [27]:
import plotly
from plotly.graph_objs import Scatter, Layout
import plotly.graph_objs as go


literate = [go.Bar(x=literacy.index, y=literacy["Population (in Lakhs)"])]


plotly.offline.plot({ 'data': literate,
            'layout': {
               'title': 'POPULATION LITERACY RATE IN TN',
               'xaxis': {
                 'title': 'YEAR'},
               'yaxis': {
                'title': 'POPULATION (in lakhs) '}
        }})

'file:///Users/siva/Documents/Code/Pandas/temp-plot.html'

In [28]:
import plotly.plotly as py
from plotly.graph_objs import *

In [45]:
trace1 = {
  "x": [1951, 1961, 1971, 1981, 1991, 2001, 2011], 
  "y": ["62.64", "122.59", "187.05", "263.3", "350.01", "458.52", "577.77"], 
  "marker": {
    "line": {"width": 1}, 
    "symbol": "hash-open-dot"
  }, 
  "mode": "lines+markers", 
  "name": "Literacy Total", 
  "text": ["62.64", "122.59", "187.05", "263.3", "350.01", "458.52", "577.77"], 
  "textsrc": "sivabalan:0:a12243", 
  "type": "scatter", 
  "uid": "ab6d87", 
  "xsrc": "sivabalan:0:64269c", 
  "ysrc": "sivabalan:0:a12243"
}
trace2 = {
  "x": [1951, 1961, 1971, 1981, 1991, 2001, 2011], 
  "y": ["95.48", "173.8", "245.3", "329.63", "411.96", "513.82", "625.96"], 
  "hoverinfo": "x+y", 
  "marker": {
    "color": "rgb(57, 172, 115)", 
    "line": {"width": 0}
  }, 
  "name": "Literacy Male", 
  "opacity": 1, 
  "text": ["95.48", "173.8", "245.3", "329.63", "411.96", "513.82", "625.96"], 
  "textsrc": "sivabalan:0:d51cc3", 
  "type": "bar", 
  "uid": "01452a", 
  "xsrc": "sivabalan:0:64269c", 
  "ysrc": "sivabalan:0:d51cc3"
}
trace3 = {
  "x": [1951, 1961, 1971, 1981, 1991, 2001, 2011], 
  "y": ["30.42", "70.95", "127.39", "195.72", "286.72", "402.86", "529.8"], 
  "hoverinfo": "x+y", 
  "marker": {
    "color": "rgb(32, 96, 64)", 
    "line": {"width": 0}
  }, 
  "name": "Literacy Female", 
  "opacity": 1, 
  "text": ["30.42", "70.95", "127.39", "195.72", "286.72", "402.86", "529.8"], 
  "textsrc": "sivabalan:0:ea8d61", 
  "type": "bar", 
  "uid": "447297", 
  "xsrc": "sivabalan:0:64269c", 
  "ysrc": "sivabalan:0:ea8d61"
}
data = Data([trace1, trace2, trace3])
layout = {
  "autosize": True, 
  "barmode": "group", 
  "paper_bgcolor": "rgb(255, 250, 230)", 
  "plot_bgcolor": "rgb(255, 250, 230)", 
  "showlegend": True, 
  "title": "POPULATION LITERACY RATE IN TAMILNADU", 
  "titlefont": {"family": "Roboto"}, 
  "xaxis": {
    "autorange": True, 
    "range": [1946, 2016], 
    "title": "YEAR", 
    "type": "linear"
  }, 
  "yaxis": {
    "autorange": True, 
    "range": [0, 658.905263158], 
    "title": "POPULATION (in lakhs) ", 
    "type": "linear"
  }
}
fig = Figure(data=data, layout=layout)
plot_url = plotly.offline.plot(fig)

In [31]:
import colorlover as cl
from IPython.display import HTML

In [32]:
HTML(cl.to_html( cl.scales['3']['div']['RdYlBu'] ))

In [34]:
HTML(cl.to_html( cl.scales['11'] )) # All scales with 11 colors